/*  your css code here. If applicable */

#yellow{
	background-color : yellow;
	border : solid ;
	border-color : green;
}

#red{
	background-color : red;
	border : solid ;
	border-color : black;	
}

#green{
	background-color : green;
	
	border : solid ;
	border-color : yellow;
	
}
